<app-context-menu *ngIf="commonDataService.featureFlags.contextMenu" (clickOutside)="hideContextMenu()" [style.display]="showContextMenu? 'block': 'none'"></app-context-menu>
<div class="nav">
  <div class="left">
    Ubuntu Desktop
  </div>

  <div class="right">
    <i class="fa fa-upload" (click)="openUploader()"></i>
    <i class="fa fa-download" (click)="downloadUserData()"></i>
    <a id="downloadAnchorElem" style="display:none"></a>
    <i class="fa fa-wifi fa-fw"></i>
    <i class="language">En</i>
    <i class="fa fa-battery-full fa-fw"></i>
    <i class="fa fa-volume-up fa-fw"></i>
    <span class="time"></span>
    <span class="am-pm"></span>
    <i class="fa fa-power-off fa-fw"></i>
  </div>
</div>

<div class="launcher">

  <button href="#" data-toggle="tooltip" title="Search your computer">
    <img src="/assets/img/logo-ubuntu_cof-orange-hex.svg.png">
  </button>

  <span data-toggle="tooltip" title="Files" (click)="commonDataService.openFileExplorerEvent.emit(true)">
    <i class="fa fa-folder"></i>
  </span>

  <span data-toggle="tooltip" title="Firefox Web Browser" (click)="openBrowser()">
    <i class="fa fa-firefox"></i>
  </span>

  <span data-toggle="tooltip" title="System Setting">
    <i class="fa fa-cog"></i>
  </span>

  <span data-toggle="tooltip" title="Terminal">
    <i class="fa fa-terminal"></i>
  </span>

  <span data-toggle="tooltip" title="Audio Player" (click)="commonDataService.openAudioPlayerEvent.emit(true)">
    <i class="fa fa-youtube-play"></i>
  </span>
</div>

<div class="desktop-overlay">
  <div class="overlay-content">
    <div class="textbox">
      <span class="search-icon"><i class="fa fa-search"></i></span>
      <input type="text" class="search" placeholder="Search your computer">
    </div>

    <div class="boxes">
      <div class="files">
        <div class="heading">
          <p>Files & Folders</p>
        </div>
        <div class="box">
          <i class="fa fa-file"></i>
          <p>File</p>
        </div>
        <div class="box">
          <i class="fa fa-file"></i>
          <p>File</p>
        </div>
        <div class="box">
          <i class="fa fa-folder"></i>
          <p>Folder</p>
        </div>
        <div class="box">
          <i class="fa fa-folder"></i>
          <p>Folder</p>
        </div>
        <div class="box">
          <i class="fa fa-folder"></i>
          <p>Folder</p>
        </div>
        <div class="box">
          <i class="fa fa-file"></i>
          <p>File</p>
        </div>
        <div class="box">
          <i class="fa fa-folder"></i>
          <p>Folder</p>
        </div>
        <div class="box">
          <i class="fa fa-file"></i>
          <p>File</p>
        </div>
      </div>

      <div class="apps">
        <div class="heading">
          <p>Applications</p>
        </div>
        <div class="box">
          <i class="fa fa-facebook-official"></i>
          <p>Facebook</p>
        </div>
        <div class="box">
          <i class="fa fa-firefox"></i>
          <p>Firefox</p>
        </div>
        <div class="box">
          <i class="fa fa-chrome"></i>
          <p>Chromium</p>
        </div>
        <div class="box">
          <i class="fa fa-cog"></i>
          <p>System Setting</p>
        </div>
        <div class="box">
          <i class="fa fa-calculator"></i>
          <p>Calculator</p>
        </div>
      </div>
    </div>
  </div>	
</div>

<div class="desktop">
  <div class="file" (dblclick)="openFileInEditor(file.fileid)" *ngFor="let file of commonDataService.currentPathFiles">
	<div style="display:block;">
		<img src="https://4vector.com/i/free-vector-text-file-icon_101919_Text_File_Icon.png" height="50px" width="50px">
	</div>
	<div style="
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50px;
    color: white;">
    	<span>{{file.filename}}</span>
    </div>
  </div>
</div>
<app-text-editor *ngIf="commonDataService.featureFlags.textEditor"></app-text-editor>
<app-browser *ngIf="commonDataService.featureFlags.browser"></app-browser>
<app-audio-player *ngIf="commonDataService.featureFlags.audioPlayer"></app-audio-player>
<app-fileupload *ngIf="commonDataService.featureFlags.fileUpload"></app-fileupload>
<app-file-explorer *ngIf="commonDataService.featureFlags.fileExplorer"></app-file-explorer>