.context-menu{
	background-color: white;
	font-color: black;
	width: 200px;
	position: absolute;
	z-index: 30;
	border: 1px solid gray;
}

.context-menu-item{
	display: block;
	height: 30px;
	border-bottom: 1px solid black;
}

.context-menu-item-title{
	font-style: bold;
	margin-left: 8px;
	margin-top: 8px;
}