.explorer{
	position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    border: 1px solid;
    width: 60%;
    height: 70%;
    resize: both;
    overflow: auto;
}

.explorerHeader{
	position: relative;
    color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 34px;
    padding: 3px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 10px #000;
    background-color: #514F48;
}

.explorerSection{
	position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
}

.explorerLeftPane{
    height:100%;
    position: relative;
    border-right: 1px solid black;
}

.explorerRightPane{
    height:100%;
    position: relative;
}

.left-pane-folder{
    display:block;width:100%;background-color:#ffe4c4;color:black;font-style:bold;cursor:pointer;border:1px solid #cdb79e;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}