<div [style.display]="showExplorer? '': 'none'" class="explorer bringToFront" ngDraggable [handle]="ExplorerHeader">
	<div #ExplorerHeader class="explorerHeader">
		<span>File Explorer</span>
		<i class="fa fa-close" style="float:right;" (click)="closeWindow()"></i>
	</div>
	<div class="explorerSection">
		<div class="col-sm-2 explorerLeftPane">
			<span *ngFor="let folder of folders" class="left-pane-folder" (click)="displayFolder(folder)">{{folder}}</span>
		</div>
		<div class="col-sm-10 explorerRightPane contextmenu-clickable">
			<div *ngFor="let file of commonDataService.currentPathFiles" class="contextmenu-clickable selectable" style="display:inline" (dblclick)="commonDataService.openFileInEditorEvent.emit(file.fileid)">
				<div style="display:block;">
					<img src="/assets/img/TextFileIcon.png" height="50px" width="50px">
				</div>
				<div style="
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    width: 50px;
			    color: black;">
			    	<span>{{file?.filename}}</span>
			    </div>
  			</div>
		</div>
	</div>
</div>